
models/NG/FINALbayHO11152022/fold_0/model_0/events.out.tfevents.1668624089.fingers-crossed-3
*.fingers-crossed-3
*.pt
*.instance-1
out/test_800k.csv
*.ian-1
*.gz
data/gdb/gdb13_CNOSCl/10.smi
data/gdb/gdb13_CNOSCl/11.smi
data/gdb/gdb11_CNOF/10.smi
data/gdb/gdb11_CNOF/11.smi
data/gdb/gdb17/FDB-17-fragmentset.smi
data/gdb/gdb17/GDB17.50000000.smi
out/model_preds_on_frags_and_cpds/SA/combined_broad_preds_05_20_2022.csv
out/model_preds_on_frags_and_cpds/SA/FINISHED_combined_fragment_preds_05_24_2022.csv
out/model_preds_on_frags_and_cpds/NG/broad800K_melis_predictions_with_FINALbayHO11152022_11_16_2022.csv
out/model_preds_on_frags_and_cpds/NG/enamine_frags_18mil_with_FINALbayHO11152022_melis_predictions_11_18_2022.csv
*.its-gpu-time-4-01-09-2022
out/controls/in_silico_algorithm_control_SA_all_combined_fragment_preds_gdb11_with_2300.csv
